body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Tahoma, sans-serif; }

.container-fluid {
  height: 100px;
  margin-bottom: 20px; }

input {
  border: none;
  border: solid 1px #ccc;
  border-radius: 10px; }

